/*Rename this file to config.ini */
[Database Config]
host = localhost
databasename = dbname
username = username
password = password


[Newsgroup config]
newsserver = newservername
news_username = newserverusername
news_password = newsserverpassword